[submodule "gdb-pt-dump"]
	path = gdb-pt-dump
	url = https://github.com/martinradev/gdb-pt-dump.git
[submodule "pwndbg/modules/libslub"]
	path = pwndbg/modules/libslub
	url = https://github.com/nccgroup/libslub
	branch = pwndbg-integration
